body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: White;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align:center
}
.cd-logo, .kitchen-equipment, .cake-ingredients {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #642580;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
}

.cd-logo {
  background-image: url("CoderDojo.png");
  min-height: 100%;
  background-size: auto;
}


.textSection {
  background-color:#642580;
  padding:50px 80px;
}

.kitchen-equipment {
  background-image: url("utensils.JPG");
}

.cake-ingredients {
  background-image: url("ingredients.JPG");
}

 /* turn off parallax scrolling for hand held devices because it doesn't work onthere */
 @media only screen and (max-device-width: 1024px) {
  .cd-logo, .layer-cake, .kitchen-equipment, .cake-ingredients, .bowl-of-cakemix, .cake-in-oven, .decorated-cake { 
    background-attachment: scroll;
  }
  }